* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: grey;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
}

h1 {
    color: yellow;
    margin-bottom: 1em;
}

h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

section {
    margin: auto;
    width: 15em;
    height: 15em;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#ENDGAME {
    width: 100vw;
    height: 30em;
    background-color: transparent;
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

section div {
    border: solid 1px white;
    width: 5em;
    height: 5em;
}

#top-left, #top-middle, #top-right {
    border-top: 0;
}

#bottom-left, #bottom-middle, #bottom-right {
    border-bottom: 0;
}

#top-left, #middle-left, #bottom-left {
    border-left: 0;
}

#top-right, #middle-right, #bottom-right {
    border-right: 0;
}

div img {
    filter: invert(100%);
    width: 100%;
    padding: 1em;
}

#queljoueur img {
    width: 3em;
    border-radius: 10%;
    border: dashed 2px magenta;
    filter: invert(100%);
}

div:hover {
    background-color: magenta;
}

button {
    display: block;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
    background-color: black;
    color: white;
}

button:hover {
    background-color: magenta;
    color: black;
}

footer {
    font-size: x-small;
    position: absolute;
    bottom: 0;
    right: 1em;
}

footer span {
    color: red;
}